@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }





  .logo {
      width: 70px;
  }

  #form {
    background-color: #EAEAEA;
    color: rgba(0,0,0,.05);
    text-align: left;
    text-decoration: none;
    padding: 10px 600px 10px 10px;
    border: 0px 10px;
  }

  #button {
    background-color: #fb3e44;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
  }

.section1 heading {
    font-size: 280%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* align-items: flex-start; */
}

.section1 article {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 200px;
  /* height: 600px; */
}

.section1 div {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

.section1 {
  padding: 200px;
  height: 600px;
}

#join-for-free {
  padding: 10px 50px;
}


.hexagon {
  height: 170px;
}

#seeplans {
    background-color: #FB3B49;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

.section2 heading {
    background-color: rgba(255,204,53,.4);
    font-weight: bold;
    font-size: 120%;
    transform: skew(9deg,0deg);
    font-style: italic;
    margin 5px 30px;
}

.section2 article {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 150px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.zero-configuration {
  height: 30px;
}

.section3 heading {
    color: #ED1C24;
}

.section3 div {

}

.section3 {
  display: flex;
  padding: 50px;
}

.team-management {
  height: 30px;
}

.familiar-features {
  height: 30px;
}

.npm-audit {
  height: 30px;
}

#create-org-button a {
  text-decoration: none;
  color: white;
}

#create-org-button {
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  justify-content: center;
  
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 30px;
}